
.series__options--div{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    
    border: 1px solid lightgray;
    border-radius: 5px;

    margin-top: 0.5em;

}

.seriesOptions__header--div{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding: 0.5em;
    border: 1px solid lightgray;
}

.seriesOptions__header--label{
    font-weight: bolder;
    margin-left: 0.5em;
}

.option__action--img{
    width: 1.25em;

}
.option__action--img:hover{
    cursor: pointer;
}

.active__icon{
    background-color: #2196F3;
}

.seriesOptions__options--div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;

    width: 100%;

    padding: 0.5em;
}

.seriesOptions__fillMode--div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    width: 100%;
    padding: 0.25em;

}

.seriesOptions__color--input{
 width: 1.25em;
 height: 1.25em;
}

.seriesOptions__color--input:hover{
    cursor: pointer;
}

.fill__icon--img{
    width: 4em;
}