
.magnifier__glass--div{
    position: absolute;

    background-color: white;

    z-index: 20;
    
    border: 3px solid #000;
    border-radius: 50%;

    cursor: crosshair;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}