
.axis__selector--div{

    width: 100%;
    
    border: 1px solid lightgray;
    border-radius: 5px;

    margin-top: 0.5em;

    padding: 0.5em;
}

.selector__header--div{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: lightgray;

    width: 100%;
    padding: 0.5em;

    font-size: 1em;
    font-weight: bolder;
}

.selector__pool--div{
    min-height: 2em;
    background-color: white;
}

.selector__header--label:hover{
    cursor: pointer;
}

.empty__warning--label{
    color: gray;

    margin: 0.25em;

    font-style: italic;

}